.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: $semibold;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: $global-radius;
  transition: background-color ease .3s, border ease .3s;

  &.primary {
    background-color: $dark-blue;
    color: $white;

    &:hover {
      background-color: darken($dark-blue, 5%);
    }
  }

  &.secondary {
    background-color: $rose;
    color: $white;

    &:hover {
      background-color: darken($rose, 5%);
    }
  }

  &.tertiary {
    background-color: $white;
    color: $black;

    &:hover {
      background-color: darken($white, 5%);
    }
  }
}