.caption {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px 30px;
  width: 100%;
  background-color: rgba($black, 0.75);

  p {
    max-width: 800px;
    margin: 0 auto;
    color: $white;
    text-align: center;
  }

  &.is-closed svg {
    transform: rotate(90deg);
  }

  @include breakpoint(small down) {
    display: none;
  }
}

.caption-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 7.5px;
  right: 15px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  
  svg {
    width: 15px;
    height: 15px;
    transform: rotate(270deg);
    transition: transform ease .3s;
  }
}