.cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin-bottom: -map-get($spacing, 3) !important; 

  @include breakpoint(small down) {
    margin-bottom: -map-get($spacing, 1);
  }

  .column {
    margin-bottom: map-get($spacing, 3);

    @include breakpoint(small down) {
      margin-bottom: map-get($spacing, 1);
    }
  }
}

.card {
  position: relative;  
  height: 100%;
  box-shadow: 0 2px 4px 0 rgba($dark-gray, 0.1), 0 4px 20px 0 rgba($dark-gray, 0.2);
  border-radius: $global-radius;
  overflow: hidden;
}

.card figure {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  @include aspect-ratio(16, 9);
  @include bg-cover(center);
  background-color: $medium-gray;

  img {
    position: absolute;
    max-width: 80%;
    width: 100%;
  }
}

.card-content {
  padding: map-get($spacing, 2) map-get($spacing, 2) map-get($spacing, 6);
  height: 100%;
  background-color: $white;
  border: 1px solid $medium-gray;
  border-top: none;
  border-bottom-left-radius: $global-radius;
  border-bottom-right-radius: $global-radius;
  overflow: hidden;
  box-sizing: border-box;

  h4 {
    font-weight: $semibold;
  }

  .button {
    position: absolute;
    width: calc(100% - 40px);
    bottom: map-get($spacing, 2);
    left: map-get($spacing, 2);
  }
}