section {
  padding: map-get($spacing, 8) 0;

  @include breakpoint(small down) {
    padding: map-get($spacing, 4) 0;
  }

  .row {
    margin-bottom: map-get($spacing, 4);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.bg-image {
    @include bg-cover(center);
    @include bg-overlay($black);
  }

  &.bg-image,
  &.bg-blue,
  &.bg-rose,
  &.bg-black {
    .title {
      color: $white;
    }
  }
}