.max-container {
  margin: 0 auto;
  width: 100%;  
  max-width: map-get($breakpoints, xxlarge);
}

.container {
  margin: 0 auto;
  width: 100%;  
  max-width: $global-width;
}

section {
  padding: map-get($spacing, 8) 0;

  @include breakpoint(small down) {
    padding: map-get($spacing, 4) 0;
  }

  .row {
    margin-bottom: map-get($spacing, 4);

    &:last-child {
      margin-bottom: 0;
    }

    @include breakpoint(small down) {
      margin-bottom: map-get($spacing, 3);
    }
  }

  &.bg-image {
    @include bg-cover(center);
    @include bg-overlay($black);
  }

  &.bg-image,
  &.bg-blue,
  &.bg-rose,
  &.bg-black {
    .title {
      color: $white;
    }
  }
}